[submodule "Ellis/vendor/spdlog"]
	path = Ellis/vendor/spdlog
	url = https://github.com/gabime/spdlog
	branch = v1.x
[submodule "Ellis/vendor/glm"]
	path = Ellis/vendor/glm
	url = https://github.com/g-truc/glm
	branch = master
[submodule "Ellis/vendor/GLFW"]
	path = Ellis/vendor/GLFW
	url = https://github.com/FacelessTiger/glfw
	branch = master
[submodule "Ellis/vendor/imgui"]
	path = Ellis/vendor/imgui
	url = https://github.com/FacelessTiger/imgui/
	branch = docking
[submodule "Ellis/vendor/yaml-cpp"]
	path = Ellis/vendor/yaml-cpp
	url = https://github.com/FacelessTiger/yaml-cpp
[submodule "Ellis/vendor/ImGuizmo"]
	path = Ellis/vendor/ImGuizmo
	url = https://github.com/FacelessTiger/ImGuizmo
