[submodule "Cobra/vendor/spdlog"]
	path = Cobra/vendor/spdlog
	url = https://github.com/gabime/spdlog
	branch = v1.x
[submodule "Cobra/vendor/glm"]
	path = Cobra/vendor/glm
	url = https://github.com/g-truc/glm
	branch = master
[submodule "Cobra/vendor/GLFW"]
	path = Cobra/vendor/GLFW
	url = https://github.com/FacelessTiger/glfw
	branch = master
[submodule "Cobra/vendor/imgui"]
	path = Cobra/vendor/imgui
	url = https://github.com/FacelessTiger/imgui/
	branch = docking
[submodule "Cobra/vendor/yaml-cpp"]
	path = Cobra/vendor/yaml-cpp
	url = https://github.com/FacelessTiger/yaml-cpp
[submodule "Cobra/vendor/ImGuizmo"]
	path = Cobra/vendor/ImGuizmo
	url = https://github.com/FacelessTiger/ImGuizmo
[submodule "Cobra/vendor/Box2D"]
	path = Cobra/vendor/Box2D
	url = https://github.com/FacelessTiger/box2d
[submodule "Cobra/vendor/msdf-atlas-gen"]
	path = Cobra/vendor/msdf-atlas-gen
	url = https://github.com/TheCherno/msdf-atlas-gen
