# Binaries
**/bin/
bin-int/
Intermediates/

# Ellis Files
*.log

# Files
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Directories
Ellis/vendor/VulkanSDK
Ellis-Editor/assets/cache
scripts/__pycache__